asgiref
Django
django-admin-sortable2
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-js-asset
django-mptt
django-uuslug
djangorestframework
Pillow
python-slugify
pytz
six
sorl-thumbnail
sqlparse
text-unidecode
tzdata
wheel
mypy
python-language-server
flake8
pylama
pylama-pylint
python-memcached
gunicorn
psycopg2-binary
