{% extends "base.html" %}
{% load core %}
{% block page_title %}Delete Invitation - {{object}}{% endblock %}

{% block content %}
<div class="container">
  <div class="row py-2">
    <div class="col">
      <form method="post">{% csrf_token %}
          <p>Are you sure you want to delete "{{ object }}"?</p>
          <input type="submit" value="Confirm" class="btn btn-danger">
          <a href="{% get_url 'list' %}" class="btn btn-light">Cancel</a>
      </form>
    </div>
  </div>
</div>


{% endblock %}
